.logo-banner {
  line-height: 20px;
  padding: 15px 0px;
}

.logo-banner img {
  height: 115px;
}

.logo-banner .box {
  margin-right: 20px;
}

.logo-banner .box i {
  font-size: 35px;
  margin-right: 4px;
  color: #ff6e05;
}

.logo-banner .box p {
  font-size: 13px;
  color: #676767d4;
}

.logo-banner .box span, .logo-banner .box a {
  font-size: 16px;
  color: #000;
}

.menu {
  background: #ff6e05;
}

.menu ul {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.menu a {
  display: inline-block;
  color: #fff;
  padding: 15px 25px;
}

.menu a:hover {
  background: #323232;
}

.redes a {
  padding: 0px;
  font-size: 20px;
  margin-right: 0px;
}

.redes a:hover {
  background: none;
}

.nosotros-inicio {
  padding: 30px 0px;
  margin-top: 40px;
}

.nosotros-inicio img {
  width: 40%;
}

.nosotros-inicio .txt {
  max-width: 600px;
  margin-right: 20px;
}

.nosotros-inicio h2 {
  color: #323232;
  font-size: 3rem;
  font-weight: 500;
  width: 500px;
  padding: 0px !important;
  margin: 0px !important;
}

.nosotros-inicio p {
  color: #9194a1;
  font-weight: 400;
  line-height: 1.5;
  padding: 5px 0px;
}

.nosotros-inicio a {
  color: #fff;
  background: #ff6e05;
  display: inline-block;
  padding: 8px 25px;
  border-radius: 6px;
  font-weight: 400;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  border: 2px solid #fff;
  margin-top: 15px;
}

.nosotros-inicio a:hover {
  color: #ff6e05;
  border: 2px solid #ff6e05;
  background: none;
}

* {
  padding: 0px;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.wrapper {
  max-width: 1300px;
  width: 80%;
  margin: auto;
}

.dp-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container2 {
  width: 100%;
}

.icon-menu {
  display: none;
}

.proyectos {
  padding: 50px 0px;
}

.proyectos .container {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.proyectos .proyecto {
  width: 300px;
  border-bottom: 1px solid #ff6e05;
  padding: 20px 25px;
  background: rgba(148, 144, 144, 0.13);
}

.nuestros-clientes {
  text-align: center;
  font-size: 2.2em;
}

.nuestros-clientes .container {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 25px;
}

.nuestros-clientes img {
  height: 100px;
}

.nuestros-clientes h4 {
  color: #323232;
  font-size: .9em;
}

.nuestros-proyectos {
  padding: 50px 0px;
}

.nuestros-proyectos h4 {
  font-size: 2em;
  text-align: center;
  margin-bottom: 40px;
}

.nuestros-proyectos .container2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.nuestros-proyectos .proyecto {
  width: 25%;
  position: relative;
  cursor: pointer;
}

.nuestros-proyectos img {
  width: 100%;
  height: 100%;
}

.nuestros-proyectos .txt {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  background: rgba(0, 0, 0, 0.39);
  display: none;
  -webkit-transition: all .5s out;
  transition: all .5s out;
}

.nuestros-proyectos .txt h4 {
  margin-bottom: 0;
}

.nuestros-proyectos .proyecto:hover .txt {
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.banner-msj {
  background-image: url(../media/imagenes/banner-msj.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  padding: 80px 0px;
  font-family: 'Poppins', sans-serif;
}

.banner-msj h4 {
  color: #fff;
  font-size: 2em;
}

.banner-msj a {
  display: inline-block;
  padding: 10px 20px;
  border: 1px solid #fff;
  color: #fff;
  font-size: 1.2em;
  font-weight: bold;
}

.capacidades {
  padding: 50px 0px;
}

.capacidades h2 {
  text-align: center;
  margin-bottom: 50px;
}

.capacidades .container {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.capacidades .capacidad {
  width: 45%;
  margin: 20px auto;
  padding: 0px 20px;
}

.capacidades h3 {
  margin-bottom: 5px;
}

.mapa-construmex {
  background-color: #eeedeb;
  padding: 50px 0px;
}

.mapa-construmex .container {
  text-align: center;
}

.mapa-construmex img {
  width: 100%;
}

.mision {
  padding: 30px 0px;
  margin: 0px 30px;
}

.mision img {
  width: 40%;
}

.mision .txt {
  max-width: 650px;
  margin-bottom: 30px;
}

.mision h2 {
  color: #323232;
  font-size: 2.5rem;
  font-weight: 500;
  width: 500px;
  padding: 0px !important;
  margin: 0px !important;
}

.mision p {
  color: #9194a1;
  font-weight: 400;
  line-height: 1.5;
  padding: 5px 0px;
}

.valores {
  padding: 30px 0px;
}

.valores .container {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.valores .txt {
  width: 40%;
  margin: 20px 0px;
}

.valores h2 {
  text-align: center;
  color: #323232;
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 30px;
}

.valores h2 {
  margin-bottom: 20px;
  color: #323232;
}

.valores p {
  color: #9194a1;
}

.valores .container-txt {
  margin-left: 20px;
}

footer {
  background: #252525;
}

footer .wrapper {
  padding: 30px 0px;
}

footer .dp-flex {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

footer li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 15px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: white;
  font-weight: 100;
}

footer i {
  font-size: 18px;
  margin-right: 5px;
  font-weight: 100;
  color: #ff6e05;
}

footer img {
  width: 220px;
  margin-right: 15px;
}

footer ul li:first-child {
  margin-bottom: 8px;
  font-size: 18px;
  border-bottom: 1px solid #ff6e05;
  font-weight: 400;
  padding-bottom: 8px;
}

footer .info {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 74%;
}

footer a {
  color: white;
  font-weight: 100;
}

.pie {
  background: #000;
  color: #fff;
  text-align: center;
  padding: 10px 0px;
}

.container-contacto {
  width: 70%;
  margin: auto;
}

.contacto {
  padding: 40px 0px;
}

.contacto .container {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.contacto .info {
  text-align: center;
  padding: 20px 10px;
  width: 30%;
}

.contacto .info i {
  font-size: 50px;
  color: #ff6e05;
}

.contacto .title p {
  font-size: 18px;
  padding: 4px 0px;
  font-size: bold;
  color: #323232;
}

.contacto a,
.contacto p {
  font-size: 15px;
  color: #323232d0;
  display: block;
}

.mapa iframe {
  width: 100%;
}

.formulario-contacto {
  margin: auto;
}

.formulario-contacto .container input {
  width: 32%;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid rgba(209, 203, 203, 0.705);
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
}

.formulario-contacto .container input:focus {
  outline: none;
  border: 1.5px solid rgba(29, 28, 28, 0.548);
}

.formulario-contacto textarea {
  resize: none;
  width: 100%;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid rgba(209, 203, 203, 0.705);
  font-size: 14px;
  margin-top: 25px;
  font-family: 'Poppins', sans-serif;
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
}

.formulario-contacto textarea:focus {
  outline: none;
  border: 1.5px solid rgba(29, 28, 28, 0.548);
}

.formulario-contacto input[type=submit] {
  color: #fff;
  background: #ff6e05;
  display: block;
  padding: 10px 25px;
  border-radius: 5px;
  font-weight: 400;
  -webkit-transition: color 0.5s ease-in-out;
  transition: color 0.5s ease-in-out;
  border: 2px solid #fff;
  cursor: pointer;
  font-size: 14px;
  margin-top: 8px;
  font-family: 'Poppins', sans-serif;
  -moz-appearance: none;
       appearance: none;
  margin-bottom: 50px;
  -webkit-appearance: none;
}

.formulario-contacto input[type=submit]:hover {
  color: #ff6e05;
  border: 2px solid #ff6e05;
  background: none;
  -webkit-appearance: none;
}

.banner .container {
  background-image: url(../media/imagenes/banner-msj.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: 'Poppins', sans-serif;
  padding: 120px 0;
}

.banner h2 {
  color: #fff;
  margin: auto;
  font-size: 3.5em;
}

.sitios-relacionados {
  text-align: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 30px;
  color: #323232;
  background: #ff6e05;
  margin-top: 40px;
  color: #fff;
}

.sitios-relacionados h3 {
  padding-bottom: 20px;
  font-size: 1.5em;
}

.sitios-relacionados a {
  font-size: 1.2em;
  color: #fff;
  display: inline-block;
}

@media screen and (max-width: 1100px) {
  .wrapper {
    width: 90%;
  }
}

@media screen and (max-width: 950px) {
  footer .container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  footer .container .box {
    width: 45%;
    margin-bottom: 20px;
  }
  .nuestros-proyectos .proyecto {
    width: 40%;
  }
}

@media screen and (max-width: 800px) {
  footer .container .box {
    width: 100%;
  }
}

@media screen and (max-width: 760px) {
  .contacto .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contacto .info {
    width: 100%;
  }
  .formulario-contacto .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .formulario-contacto .container input {
    width: 100%;
    margin-top: 7px;
  }
  textarea {
    margin-top: 7px;
  }
  input[type=submit] {
    width: 100%;
  }
}

@media screen and (max-width: 750px) {
  header {
    position: fixed;
    width: 100%;
    z-index: 999;
  }
  .logo-banner {
    background: #fff;
    padding: 5px 0px;
  }
  .logo-banner img {
    height: 80px;
  }
  .logo-banner .info {
    display: none;
  }
  .logo-banner .icon-menu {
    display: block;
    font-size: 28px;
  }
  nav, ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .menu {
    display: none;
  }
  .banner {
    padding-top: 110px;
  }
  vh {
    height: 50vh !important;
    padding-top: 120px;
  }
  .nuestros-proyectos .proyecto {
    width: 50%;
  }
}
/*# sourceMappingURL=css.css.map */